.small-font {
    font-size: 14px;
  }
  
  .medium-font {
    font-size: 16px;
  }
  
  .large-font {
    font-size: 18px;
  }

  .large-font {
    font-size: 18px; /* 根据需要设置字体大小 */
  }
  
  /* 你可以使用 padding-left 来设置左边距 */
  .user-id-left-padding {
    padding-left: 10px; /* 根据需要设置左边距大小 */
  }
  
  /* 或者使用 text-indent 来设置文本缩进 */
  .user-id-text-indent {
    text-indent: 10px; /* 根据需要设置文本缩进大小 */
  }

  .card-container {
  margin-top: 50px; /* 根据需要调整数值 */
}